header {
    display: flex;
    background-color: #31343d;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.name-container {
    margin-left: 10%;
}

.nav-container {
    margin-right: 10%;
}

section {
    display: flex;
    
}

main {
    margin: 2% 10%;
    border: 1px solid red;
}

ul {
    display: inline-flex;
}

.section-title {
    width: 10%;
    text-align: right;
}

.section-title div {
    font-size: 36px;
}

.section-content {
    width: 90%;
}

.align-middle {
    display: flex;
    align-items: center;
}